HelperConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="HelperConfigs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WorkConfig" />
				<xs:element ref="GameConfig" />
			</xs:sequence>
            <xs:attribute name="HelperName" type="xs:string" use="required" />
            <xs:attribute name="ConfigName" type="xs:string" use="required" />
			<xs:attribute name="Author" type="xs:string" use="required" />
		</xs:complexType>
	</xs:element>
	
	<xs:element name="WorkConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WorkFolder" type="xs:string"/>
				<xs:element name="DebugMode" type="xs:boolean"/>
				<xs:element name="BetaMode" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GameConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StrConfig" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"
								minOccurs="1" maxOccurs="1" />
							<xs:element name="Value" type="xs:string"
								minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="NumConfig" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"
								minOccurs="1" maxOccurs="1" />
							<xs:element name="Value" type="xs:int"
								minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FloatConfig" maxOccurs="unbounded"
					minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"
								minOccurs="1" maxOccurs="1" />
							<xs:element name="Value" type="xs:float"
								minOccurs="1" maxOccurs="1" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
