HelperConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="HelperConfigurations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="HelperConfig"/>
				<xs:element ref="GameConfig"/>
			</xs:sequence>
			<xs:attribute name="HelperName" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="HelperConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="DebugMode" type="xs:boolean"/>
				<xs:element name="BetaMode" type="xs:boolean"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="GameConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="StrConfig" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Value" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
        <xs:element name="NumConfig" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <xs:element name="Value" type="xs:int" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
